apiVersion: batch/v1
kind: Job
metadata:
  name: tester
  labels:
    app.kubernetes.io/name: "$APP_INSTANCE_NAME"
spec:
  template:
    spec:
      containers:
      - name: tester
        image: "$APP_TESTER_IMAGE"
        args: 
        - -logtostderr
        - --test_spec=/tester/testspecs/basic_tests.yaml
      restartPolicy: Never
  backoffLimit: 0
