apiVersion: batch/v1
kind: Job
metadata:
  name: tester
  labels:
    app.kubernetes.io/name: "$name"
spec:
  template:
    spec:
      containers:
      - name: tester
        image: "$imageTester"
        env:
        - name: EXITCODE
          value: "0"
        - name: DURATION
          value: "10"
      restartPolicy: Never
  backoffLimit: 0
